In [1]:
import pandas as pd
df = pd.read_csv('data/dataset.txt')

In [2]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
df.dropna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
df.drop(['SkinThickness', 'Insulin','BMI', 'Age'], axis= 'columns', inplace= True)

In [5]:
df

     Pregnancies  Glucose  BloodPressure  DiabetesPedigreeFunction  Outcome
0              6      148             72                     0.627        1
1              1       85             66                     0.351        0
2              8      183             64                     0.672        1
3              1       89             66                     0.167        0
4              0      137             40                     2.288        1
..           ...      ...            ...                       ...      ...
763           10      101             76                     0.171        0
764            2      122             70                     0.340        0
765            5      121             72                     0.245        0
766            1      126             60                     0.349        1
767            1       93             70                     0.315        0

[768 rows x 5 columns]

In [6]:
Outcome = df.Outcome
inputs = df.drop('Outcome', axis='columns')

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs,Outcome,test_size = 0.20)

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model = LinearRegression()

In [10]:
model.fit(X_train, y_train)

LinearRegression()

In [11]:
model.score(X_test, y_test)

0.3237328218693968

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
model = LogisticRegression()

In [14]:
model.fit(X_train, y_train)

LogisticRegression()

In [15]:
model.score(X_test, y_test)

0.7922077922077922

In [16]:
model.predict([[2,9,6,7]])

C:\Users\AGARESTA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [17]:
df.head()

   Pregnancies  Glucose  BloodPressure  DiabetesPedigreeFunction  Outcome
0            6      148             72                     0.627        1
1            1       85             66                     0.351        0
2            8      183             64                     0.672        1
3            1       89             66                     0.167        0
4            0      137             40                     2.288        1

In [18]:
model.predict([[5,200,78,0.7]])

C:\Users\AGARESTA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [19]:
model.predict([[2,80,100,0.300]])

C:\Users\AGARESTA\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [21]:
y_pred = model.predict(X_test)

In [22]:
cm = confusion_matrix(y_test, y_pred)
acc = accuracy_score(y_test, y_pred)

print('Confusion matrix:')
print(cm)
print('Accuracy:', acc)

Confusion matrix:
[[95 14]
 [18 27]]
Accuracy: 0.7922077922077922